/* product listing page */

.nav-text{
    font-family: 'Poppins', sans-serif;
    color: #525252;
}

.navbar{
    background-color: white;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

#space{
    margin:0 55px;
}

.navbar-nav{
    margin-left: 20px;
}

.logout{
    border: 1px solid #525252;
    background-color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 55px;
}

#welcome-text{
    margin-top: 20px;
    margin-right: 15px;
    font-weight: 700;
    color: #F0626E;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #FBE0CF;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

#footer-logo{
    bottom: 15px;
    margin-left: 55px
}


.footer-text-group{
    bottom: 15px;
    right: 0;
    text-align: right;
    margin: 55px;
  
}

#footer-text{
    text-decoration: none;
    display: inline;
    font-family: 'Poppins', sans-serif;
    color: #F0626E;
    font-weight: 300;
}

.body-container{
    background-color: #FFF6F0;
    z-index: -1;
    position: relative;
    margin-top: 78px;
}

.blop{
    position: absolute;
    bottom: 50%;
}

.font{
    font-family: 'Poppins', sans-serif;
    color: #F0626E;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
}

#smile-wellness{
    text-align: center;
}

.card-description{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
    text-align: left;
}

.card{
    background-color: transparent;
    border: none;
}

.card-body{
    padding: 20px 0;
}

.card-title{
    margin-top: 10px;
}

.btn{
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    background-color: #F0626E;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

#price-red{
    color: #F0626E;
}

.card-container{
    margin: 50px 100px;
}

.contact-container{
    background:url(../assets/contact-bg.png);
    height: 250px;
    background-size: cover;
    background-position: center;
}

#contact-text{
    font-family: 'Poppins', sans-serif;
    color: #F0626E;
    font-weight: 600;
    text-align: right;
    padding-right: 100px;
    margin-top: 20px;
}

.contact-group{
    align-items: center;
    height: 250px;
}

.container-fluid{
    margin: 0;
}

.button-contact {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    background-color: #F0626E;
    border: none;
    padding: 15px 100px;
    border-radius: 30px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.card-space{
    margin-bottom: 135px;
}


/* Register page */

.yoga-image{
    background-image: url(/assets/yoga1.png);
    background-color: #FBE0CF;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

#register-welcome{
    text-align: left;
    padding-top: 30px;
}

#register-body{
    color: #B9B8C0;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    padding: 0;
    margin-bottom: 40px;
}

.register-container{
 width: 80%;
 height: auto;
}

.register-btn{
    margin-top: 25px;
    padding: 30px 15%
}

#register-logo{
    margin-left: 55px;
    margin-top: 20px;
}

.register-signup{
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 55px;
    margin-top: 20px;
    
}

/* Focus page */

.card-background{
 background-color: #FFF1E8;
 padding: 25px 25px;
 height: 500px;
 border-radius: 35px;
 position: relative;
 margin-right: 30px;
 margin-bottom: 30px
}

#white-bg{
    background-color: white;
}

.add-task-title{
    font-size: 45px;
    text-align: left;
    padding-left: 100px
}

.add-task-btn{
    content: url(/assets/add-task.png);
    height: 80px;
    width: 83px;
    text-align: center;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.add-task-text{
    padding-top: 5px;
    font-size: 20px;
}

.add-task-group{
    text-align: center;
    padding-top: 50px;
}

.todo-card-container{
    margin-top: 15px
}

.edit-btn{
    content: url(/assets/edit.png);
    height: 60px;
    width: 63px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
    margin-top: 10px;
}

.done-btn{
    content: url(/assets/tick.png);
    height: 60px;
    width: 63px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.at-description{
    margin: 5px;
    font-size: 15px;
}

.at-description-group{
    position: absolute;
    top: 260px;
}

.at-task{
    font-size: 30px;
    color: #F0626E;
    font-weight: 600;
    margin: 0;
}

.at-form-container{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.font-form{
    font-family: 'Poppins', sans-serif;
    color: #525252;
    font-weight: 600;
    text-align: left;
    padding-top: 2px;
}

/* Product page */

.product-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 120px;
}

.product-title{
    font-family: 'Poppins', sans-serif;
    color: #525252;
    font-weight: 600;
    margin-bottom: 15px;
}

.product-description{
    font-family: 'Poppins', sans-serif;
    color: #525252;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.3em;

}

.product-price{
    font-family: 'Poppins', sans-serif;
    color: #F0626E;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;

}

.product-image{
    text-align: right;
    padding-right: 70px;
}

.buy-now{
    padding: 15px 40%;
}

.comments-card-background{
    background-color: #FFF;
    padding: 25px 25px;
    height: 250px;
    border-radius: 20px;
    position: relative;
    width: 85%;
    margin: 0 auto;
   }

.speech{
    transform: rotateY(180deg);
    margin-bottom: 10px;
    margin-top: 0;
}

.comments-container{
    margin-bottom: 50px;
    margin-top: 200px;
}

.comments-description{
    margin: 0;
    font-size: 15px;
    color: #525252;

}

.comments-description-group{
    position: absolute;
    top: 155px;
}

.comments-title{
    font-family: 'Poppins', sans-serif;
    color: #525252;
    font-size: 20;
    font-weight: 300;
    margin-bottom: 15px;
}

.comments-title-group{
    width: 85%;
    margin: 0 auto;
}

.review-group{
    text-align:right;
    margin-bottom: 20px;
}

.review-btn{
    padding: 15px 35px;
}

.comments-title-head{
    font-family: 'Poppins', sans-serif;
    color: #F0626E;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}

.comment-group{
    margin-bottom: 35px;
}


/* Meditation page */

.night-bg{
    background: url(/assets/night-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.mood-container{
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
}

.pin-btn{
    width:100%;
}

.medi-title{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.test{
    height: 100%;
}
.expression{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.meditation-image{
    background: url(/assets/yoga2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
}

.header-text{
    font-family: 'Poppins', sans-serif;
    color: #F0626E;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
    margin-top: 5%;
}

.video-container{
    background: url(/assets/blop1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    text-align: center;
}

.meditation-container{
    margin-bottom: 5%;
}

#video-frame{
    border-radius: 30px;
}

.medi-des{
    font-family: 'Poppins', sans-serif;
    color: #525252;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;

}