<%- include('../partials/head') %>

<div class="body-container">
    <!-- <img src="/assets/blop1.png" alt="blop1" width="500" height="500"> -->
    <div id="smile-wellness">
    <h2>Our Wellness Shop</h3>
    <img src="/assets/smile.png"alt="smile" width="125" height="35">
    </div>

</div>

<%- include('../partials/foot') %>
