<%- include('../partials/head') %>

<div id="white-bg" class="body-container">

<!-- Mood/Task Section -->
<div class="night-bg">
    <div class="mood-container">
        <h1 class="medi-title">How are you feeling today?</h1>
        <img class="expression" src="/assets/expression.png"  height="100">

            <div class="row">
                <div class="col-6">
                    <div class="font-form">
                        <input type="text" class="form-control" placeholder="List down 1 important task for the day…" id="first_name" name="first_name">
                    </div>
                </div>

                <div class="col-3">
                    <div class=" input-group font-form">
                        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>I am feeling...</option>
                        <option value="1">Happy</option>
                        <option value="2">Sad</option>
                        <option value="3">Angry</option>
                        </select>
                    </div>
                </div>

                <div class="col-3">
                    <button type="submit" class="btn btn-primary pin-btn">Pin It!</button>
                </div>
            </div>
    </div>

</div>


<!-- Meditation Section -->
<div class="meditation-container">
    <h2 class="header-text">Meditation</h2>

    <div class="row">
        <div class="video-container col-6">
            <p class="medi-des">Inspiring stories and mini-meditations <br> delivered daily to help you start your morning right.</p>
            <iframe id="video-frame" width="600" height="315" src="https://www.youtube.com/embed/itZMM5gCboo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="meditation-image col-6"></div>

    </div>

</div>



<!-- Contact section -->
<div class="contact-container container-fluid">
    <div class="row contact-group">
        <div class="col-7">
        <h3 id="contact-text">Relaxation made simple, Reach Us!</h3>
        </div>
        <div class="col-5">
        <a href="/" class=" button-contact btn btn-primary">Contact Us</a>
        </div>
    </div>
</div>

</div>

<%- include('../partials/foot') %>
